@import './diagram-js';
@import './diagram-js-minimap';
@import './bpmn-js-properties-panel';
@import './bpmn-embedded';

html, body {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 800px;
	height: 100%;
	width: 100%;
}

.toolbar {
	width: 100%;
	height: 40px;
	display: flex;
	flex-direction: row;
	background-color: #f8f8f8;
}

.properties-panel-parent {
	background-color: #f8f8f8;
}

.icon {
	width: 32px;
	height: 32px;
	background-size: 32px;
	margin: 4px;

	&:hover {
		filter: drop-shadow(5px 5px 5px gray);
	}
	
	&:active {
		filter: brightness(2);
	}
	
	&.new {
		background-image: url('../assets/images/icon_new.png');
	}
	
	&.open {
		background-image: url('../assets/images/icon_open.png');
	}
	
	&.save {
		background-image: url('../assets/images/icon_save.png');
	}
	&.saveas {
		background-image: url('../assets/images/icon_saveas.png');
	}
	
	&.info {
		background-image: url('../assets/images/icon_info.png');
	}
}


#js-drop-zone {
	display: flex;
	flex-direction: row;
	min-height: 760px;
	width: 100%;
	height: 100%;
}

#js-properties-panel {
	flex: 0 1 400px;
}

body {
	margin: 0;
}

.bjs-powered-by {
	display: none;
}

#dialog-open {
	width: 100%;
	
	.files-select {
		width: 100%;
	}
}

.ui-dialog {
	display: none;
}

.bpp-properties-group[data-group="externalTaskConfiguration"] {
	display: none;
}
.bpp-properties-group[data-group="jobConfiguration"] {
	display: none;
}
.bpp-properties-group[data-group="candidateStarterConfiguration"] {
	display: none;
}
.bpp-properties-group[data-group="historyConfiguration"] {
	display: none;
}
.bpp-properties-group[data-group="tasklist"] {
	display: none;
}
.bpp-properties-group[data-group="documentation"] {
	display: none;
}
.bpp-properties-tab-link {
	[data-tab-target="listeners"] {
		display: none;
	}
}